@import url("https://fonts.cdnfonts.com/css/poppins");

nav {
    margin: 1.5rem 0;
}


header {
    text-align: center;
    padding: 1.5rem 0;
    background-color: rgba(0, 0, 0, 0.2);
}

nav a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.section-header {
    text-align: center;
    padding: 20px 0px;
}
/* About */

.about {
    font-family: "poppins";
}

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-item {
    padding: 10px 10px;
}

/* Works section */
.works-section { 
    width: 100%;
}

.works-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
}


.work-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 5px 10px;
    padding: 20px 10px;
    overflow: hidden;
    width: calc(100%/4);
    border-radius: 20px ;
    cursor: pointer;
}

.work-item:hover {
    transform: scale(1.01);
}

.work-item p {
  text-align: left;
  font-family: "poppins";
  font-size: 1rem;
}

.work-item h3 {
    padding: 5px 5px;
}

.work-item img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow:hidden;
    margin: auto;
}


/* Footer */
footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 1rem 0;
}

footer a {
    color: #61dafb;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    .works-container { 
    flex-wrap: wrap;
    }
    .work-item {
        width: calc(100%/3);
        margin-top: 10px;
    }
}

@media screen and (max-width: 700px) {
    .work-item {
        width: 90%;
        margin: 20px 0px;
    }
}